.font-fmaily{
    font-family: sans-serif !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    letter-spacing: 2.25px !important;
    line-height: 19px !important;
    width: 100%;
    text-transform: uppercase;
}
.propertyScroll::-webkit-scrollbar{
    display: none;
}
.propertyScroll{
    scroll-behavior: smooth;
}